.hat {
    margin: -10px -10px 0px -10px;
    padding: 15px;
    background-color: #BCC6CC;
    margin-bottom: 20px;
    height: 160px;
}
.app_name {
    font-size: 56px;
    display: inline-block;
}
.menu {
    display: inline-block;
    position: absolute;
    right: 0px;
    padding: 10px;
} 
.menu_item {
    margin: 0px;
    padding: 2px;
}
.post_container {
    display: block;
}
.post_author {
    float:right;
    border: double grey;
    margin: 0px;
    padding: 5px;
}
.post_time {
    float: right;
    border: double grey;
    margin: 0px;
    padding: 5px;
}
.post_text {
    border: double grey;
    margin: 0px;
    padding: 5px;
    font-size: 24px;
    display: block;
}
.post_image {
    display: block;
    max-height: 300px;
    max-width: 300px;
}
.new_post {
    margin: 0px;
    padding: 5px;
    min-height: 100px;
    font-size: 24px;
    width: 100%;
    border-color: grey;
    display: block;
}
.upload_button_container {
    display: block;
    padding: 10px;
    text-align: right;
}
.upload_button {
    width: 160px;
}
.tweet_button_container {
    display: block;
    text-align: right;
    padding: 10px;
}
.tweet_button {
    box-sizing: content-box;
    width: 100px;
}
.form {
    padding: 0px;
    margin: 0px 0px 40px 0px;
}
.error {
    color: red;
}
