.app_name {
    font-size: 56px;
}
.menu {
    margin-bottom: 40px;
    background-color: #C2DFFF;
} 
.menu_item {
    margin: 0px;
    padding: 2px;
}
.post_image {
    margin-right: 15px;
    max-height: 300px;
    max-width: 300px;
}
.new_post {
    margin-bottom: 40px;
}
.post {
    margin-bottom: 20px;
}
.button {
    margin: 5px;
    width: 100px;
}
.search_button {
    display: block;
    box-sizing: content-box;
    width: 100px;
}
.search_bar {
    margin: 5px;
    vertical-align: middle;
}
