<html>
    <head>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="{{GOOGLE_CLIENT_ID}}">
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <script>
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
            function onLoad() {
                gapi.load('auth2', function() {
                    gapi.auth2.init();
                });
            }
        </script>
        <div class="hat">
            <span class="menu">
                {% if session.userid %}
                    <p>You are logged in as: {{session["email"]}}</p>
                    <p class="menu_item">
                        <a href="/logout" onclick="signOut();">Log out</a>
                    </p>
                    <p class="menu_item">
                        <a href="/profile">Profile</a>
                    </p>
                    <p class="menu_item">
                        <a href="/followings">Followings</a>
                    </p>
                {% else %}
                    <p class="menu_item">
                        <a href="/login">Log in</a>
                    </p>
                {% endif %}
            </span>
            <h1>SimplyTweet</h1>
        </div>
        <div style="marging=15px;">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
