{% extends "base_page.html" %}
{% block content %}
<div class="row">
    {% for following in followings %}
        <div class="col-4">
            <div class="card following">
                <div class="card-header">
                    <a href="/{{following.userid}}">{{following.email}}</a>
                </div>
                <div class="card-body">
                    <form action="/followings/delete/{{following.userid}}" name="unfollow" method="POST" class="form-group">
                        {{unfollow_form.hidden_tag()}}
                        {{unfollow_form.unfollow(class_="btn btn-secondary float-right button")}}
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
