{% extends "base_page.html" %}
{% block content %}
{% for post in followings_posts %}
    <div class="row">
        <div class="col post">
            <div class="card">
                <div class="card-header">
                    <strong>{{post.email}}</strong>
                    <span class="text-muted"> posted {{post.time}}</span>
                </div>
                <div class="card-body">
                    {{post.text}}
                    <img class="post_image rounded float-left" src={{post.image_link}}></img>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %} 
