<style>
.post_holder {
    padding-top: 15;
}
.post {
    width: 88%;
    padding: 5px;
    margin: 2px;
    font-size: 24px;
    border: double grey;
}
.new_post {
    width: 89%;
    padding: 5px;
    margin: 2px;
    font-size: 24px;
    border-color: grey;
}
.tweet_button_container {
    width: 88%;
    height: 30px;
    padding: 5px;
    margin: 2px;
    position: relative;
}
.tweet_button {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    margin: 0px;
    width: 100px;
    height: 70px;
}
.form {
    padding: 0px;
    margin: 0px;
}
</style>

{% extends "base_page.html" %}
{% block content %}
<div class="post_holder">
    {% if current_user_page %}
    <form action="" method="post" name="new_post" class="form">
        <div>
            {{form.text(class_="new_post")}}
        </div>
        <div>
            <p class="tweet_button_container">
                <input class="tweet_button" type="submit" value="Tweet">
            </p>
        </div>
    </form>
    {% endif %}
    <div>
        {% for post in posts %}
        <div>
            <p class="post">
                {{post}}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
