{% extends "base_page.html" %}
{% block content %}
<div class="post_holder">
    {% if current_user_page %}
        <form action="" method="post" name="new_post" class="form">
            {{form.hidden_tag()}}
            <div>
                {{form.text(class_="new_post")}}
            </div>
            <div>
                <p class="tweet_button_container">
                    <input class="tweet_button" type="submit" value="Tweet">
                </p>
            </div>
        </form>
    {% endif  %}
    {% if not is_following and not current_user_page %}
        <form action="" name="follow" method="post" class="form">
            {{follow_form.hidden_tag()}}
            <div>
                {{follow_form.follow}}
            </div>
        </form>
    {% else %}
        <div>
            {% for post in posts %}
                <div>
                    <p class="post">
                        {{post}}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
