{% extends "base_page.html" %}
{% block content %}
{% if current_user_page %}
<div class="row">
    <div class="col new_post">
        <form action="/new_post" name="new_post" method="POST" class="form-group" enctype="multipart/form-data">
            {{new_post_form.hidden_tag()}}
            {{new_post_form.text(class_="form-control")}}
            {% for error in new_post_form.text.errors %}
                <div class="alert alert-info" role="alert">
                    {{error}}
                </div>
            {% endfor %}
            {{new_post_form.image(class_="form-control-file float-right")}}
            {% for error in new_post_form.image.errors %}
                <div class="alert alert-info" role="alert">
                    {{error}}
                </div>
            {% endfor %}
            {{new_post_form.tweet(class_="btn btn-primary float-right button")}}
        </form>
    </div>
</div>
{% endif  %}

{% if not is_following and not current_user_page %}
    <form action="/followings/new/{{userid}}" name="follow" method="POST" class="form-group">
        {{follow_form.hidden_tag()}}
        {{follow_form.follow(class_="btn btn-secondary float-center button")}}
    </form>
{% else %}
    {% for post in posts %}
        <div class="row">
            <div class="col post">
                <div class="card">
                    <div class="card-header">
                        <strong>{{post.email}}</strong>
                        <span class="text-muted"> posted {{post.time}}</span>
                    </div>
                    <div class="card-body">
                        {{post.text}}
                        <img class="post_image rounded float-left" src={{post.image_link}}></img>
                    </div>
                </div>
                {% if current_user_page %}
                    <form action="/delete_post/{{post.timestamp}}" name="delete_post" method="POST" class ="form-group float-right">
                        {{delete_post_form.hidden_tag()}}
                        {{delete_post_form.delete_post(class_="btn btn-secondary button")}}
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
